body{
    background-color: white;
}

.navbar{
    text-align: center;
}

.container1 {
    background-size: 100% 100%;
    text-align: center;
}

.container2 {
    margin-left: auto;
    margin-right: auto;

    background-size: 100% 100%;
    text-align: center;
}

.container3 {
    margin-left: auto;
    margin-right: auto;

    background-size: 100% 100%;
    text-align: center;
}

h1 {
    color: black;
    font-family:Bahnschrift;
    font-size: 36px;
    text-align: center;
}

h3{
    color: gray;
    font-family: Bahnschrift;
    font-size: 16px;
    text-align: center;
}

div{
    padding-bottom: 100px;
}

.container2 section h2{
    font-size: 28px;
    color: black;
}

.container3 section ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
